@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.hero {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  justify-content: space-between;
}

.from {
  position: relative;
  z-index: 1;
  background-color: coral;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(rgb(0, 0, 0, 0.2) 0 5px 5px 0 rgba(0, 0, 0, 0.24));
}

.form .input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 45px;
  padding: 45px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  -moz-box-align: center;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f19023;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background-color: coral;
}

.form .message {
  margin: 15px 0 0;
  color: #131212;
  font-size: 16px;
}

body {
  background-color: rgb(248, 193, 174);
  font-family: "roboto", sans-serif;
}
